@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: 'Abril Fatface', 'Merriweather Sans',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body{
    position: relative;
    padding-bottom: 50px;
}

/*PARA MÓVIL*/
header {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 900;
    margin-bottom: 10px;
    background-color: black;
}

header h1 {
    margin: 0px;
    margin-left:1rem;
    padding:0.5rem 1rem;
    text-align: center;
    font-size: 1.5rem;
}

header nav ul {
    display:flex;
    flex-direction: column;
    list-style: none;
    margin:0px;
    padding:0px;
}

header nav ul li a{
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: #ddd;
    transition: background-color 1s ease;
    border-bottom: 1px solid #bbb;
}

header nav ul li a:hover{
    background-color: #eee;
    color:#333
}

.logo{
    font-size: 2.3rem;
    color: white;
    cursor: pointer;
}

.logo span{
    color: crimson;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #100e0e;
    color: white;
    padding: 1rem;
    margin-top: auto; 
}

.footer .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #100e0e;
}

.redes-sociales i{
    display: flex; 
    gap: 15px; 
    background-color: transparent;
}

.redes-sociales a {
    color: white;
    font-size: 1.5rem;
    transition: transform 0.3s, color 0.3s;
    text-decoration: none; 
}

.redes-sociales a:hover {
    color: crimson;
    transform: scale(1.2); /* Efecto de zoom */
}

.copyright p{
    font-size: 0.9rem;
    color: #efeced;
    background-color: #100e0e;
}


/*PARA TABLET*/
@media (min-width:720px){
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        padding:0px;
        text-align: left;
    }

    header nav ul {
        flex-direction: row;
        margin-right: 1rem;
    }

    header nav ul li a{
        border:none;
    }

    .footer {
        font-size: 1rem;
        padding: 1rem 2rem;
        background-color: #100e0e;
        color: #efeced;
        
    }
    
    .footer .container {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        background-color: #100e0e; 
        flex-direction: row;
    }
    
    .redes-sociales {
        display: flex; 
        gap: 15px; 
        background-color: #100e0e;
    }
    
    .redes-sociales a {
        color: white;
        font-size: 1.5rem;
        transition: transform 0.3s, color 0.3s;
        text-decoration: none; 
    }
    
    .redes-sociales a:hover {
        color: crimson;
        transform: scale(1.2); /* Efecto de zoom */
    }
    
    .copyright {
        font-size: 0.9rem;
        color: #efeced;
        text-align: left;
    }
    
}